# Ignore PEP 582-style local packages
__pypackages__/

# Bytecode and other junk
__pycache__/
*.pyc
*.pyo
*.pyd

# Swap files from crashes
*.swp

# Data sources
/texts/**
!/texts/**/
!/texts/**/.gitkeep

# Statistics
/stats/
!/stats/.gitkeep
