# Ignore PEP 582-style local packages
__pypackages__/

# Bytecode and other junk
__pycache__/
*.pyc
*.pyo
*.pyd

# Swap files from crashes
*.swp

# Visual Studio Code workspaces
*.code-workspace

# Data sources
/texts/**
!/texts/**/
!/texts/**/.gitkeep
!/texts/project-gutenberg/sample_text_file.txt

/data/**
!/data/CEFR_levels_dummy_file.csv

# Statistics
/stats/
!/stats/.gitkeep
